body{
    background-color: white;
}

.container{
    margin: 0 auto;
    width: 960px;
    font-size:100%;
    line-height: 1.5;
}

/*******************************************
    Typograph
    affects the styling of text
***************************************/

h1,
h2{
    padding:10px;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #747474
}

/*************************************************
        Layout
**************************************************/
nav{
    margin-top: 48px;
    background-color: #ddd;
}

header,
main
{
    height: 450px;
    margin-top: 24px;
    background-color: #ddd;
}

main{
    height: 800px;
}

footer{
    height: 150px;
    margin: 24px 0 48px 0;
    background-color: #ddd;
}

/****************************************
    how does not know width is 896px??

    box model
    total width = lm + lb + lp + content width + rp + rb + rm
            960 = 30 + 2 + 0 + width + 0 + 2 + 30
            960 = width + 64
            960-64 = width
            896 = width
*******************************************/  
    
main section{
    width: 896px;
    border: 2px solid black;
    background-color: white;
    margin: 30px;
    height: 200px
}